<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-sm-offset-4">

      <div class="form-training">
        <h2>Edit your training</h2>
        <%= simple_form_for(@training) do |f|%>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

        <div class="form-inputs">
          <%= f.input :name, placeholder: "name" %>
          <%= f.input :description, as: :text %>
          <%= f.input :photo, as: :file %>
        </div>

        <div class="form-actions">
          <%= link_to 'Back', trainer_path(@trainer), class: "btn" %>
          <%= f.button :submit, class: "btn btn-primary" %>
        </div>
        <% end %>
      </div>
    </div>
    <div class="d-none d-md-block col-sm-4 col-md-6 col-lg-6">
      <div class="image-wrapper">
        <h2>
          keep moving!
        </h2>
          <!-- <%= image_tag "yoga_people.jpeg", class: "image-card" %> -->
          <%= cl_image_tag "yoga_people_ux4tz8", class: "image-card" %>
      </div>
    </div>
  </div>
</div>

