<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-sm-offset-4">

        <div class="form-training">
          <h2>Create new training</h2>
          <%= simple_form_for([@trainer, @training], url: trainer_trainings_path(@trainer.id)) do |f|%>
          <%= f.error_notification %>
          <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

            <div class="form-inputs">
              <%= f.input :name, placeholder: "Yoga for beginners" %>
              <%= f.input :description, as: :text, placeholder: "I'm going to teach some boxing in the park" %>
              <%= f.input :price, placeholder: "€10" %>
              <%= f.input :duration, as: :time, default: Time.parse("1:00") %>
              <%= f.input :category, collection: Training.categories.keys, prompt: "Please Select" %>
              <%= f.input :photos, as: :file, input_html: { multiple: true } %>
            </div>

            <div class="form-actions">
              <%= link_to 'Back', trainer_path(@trainer), class: "btn" %>
              <%= f.button :submit, class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
    </div>
    <div class="d-none d-md-block col-sm-4 col-md-6 col-lg-6">
      <div class="image-wrapper">
        <h2>
          keep moving!
        </h2>
          <%= image_tag "yoga_people.jpeg", class: "image-card" %>
          
      </div>
    </div>
  </div>
</div>

<!-- redirect to create training session -->
<!-- ask for first date and scheduling frequency -->
<!-- redirect to calendar view -->


<!-- attendance list: booking index or booking.user index -->
