<%= link_to booking_path(booking), class: "card-product-link" do %>
<div class="card-product" style="background-size: cover; background-repeat: no-repeat; background-position: center center; background-image: url(<%= cl_image_path booking.training.photos.first.key, height: 300, width: 800, crop: :fill %>)">

  <div class="booking-info">

      <h2 style="font-size: 28px"><%= booking.training.name.capitalize %></h2>
    <div class="training-time badge badge-primary">
      <h2><%= booking.training_session.time.strftime("%b %e, %l:%M %p") %></h2>
    </div>
    <div class="training-location badge badge-primary">
      <h2><%= booking.training_session.location %></h2>
    </div>

  </div>
</div>
<% end %>
