<div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <h2><%=booking.training.name%></h2>
    <p> <%= booking.training.name %> </p>
        <p> <%= booking.training_session.time %> </p>
        <p> <%= booking.training_session.location %> </p>
        <p> <%= booking.status %> </p>
  </div>
</div>

