<div class="schedule-row">
  <div class="class-name">
    <%=training_session.training.name%>
  </div>
  <div class="class-infos">
    <div class="time">
      <%=training_session.time.strftime("%H:%M")%> on <%=training_session.time.strftime("%b %e")%>
    </div>
    <div class="location">
      <%=training_session.location%>
    </div>
    <% if training_session.training.user == current_user %>
      <div>
        <div><button type="button" class="btn btn-primary">
            <%= link_to "View Session", training_session_path(training_session), style: "color: white"%>
          </button></div>
        </div>
    <% else %>
      <div class="book">
        <%= form_tag orders_path do %>
          <%= hidden_field_tag 'training_session_id', training_session.id %>
          <%= submit_tag 'BOOK', class: 'book' %>
          <% end %>
  <!--       <%=link_to "BOOK", training_session_bookings_path(training_session), method: :post %>
   --></div>
    <% end %>
  </div>
</div>
