
  <div class="card-training">
    <%= cl_image_tag @training.photos.first.key %>
    <div class="card-training-infos">
      <div>
        <h2><%= @training.name %></h2>
        <h4><%= @training.duration.strftime( "%kh:%Mm" ) %></h4>
        <p><%= @training.description %></p>
      </div>
      <h2 class="card-training-pricing"> €<%= @training.price %> </h2>
      <%= cl_image_tag @training.user.photos.first.key, height: 40, width: 40, crop: :fill, class: "card-training-user avatar-bordered" %>
    </div>
    <div class="card-training-infos">
      <% if @training.user == current_user %>
        <button type="button" class="btn btn-warning">
          <%= link_to "remove", training_path(@training), method: :delete, data: { confirm: "Are you sure?" } %>
        </button>
      <% end %>

      <div class="profile-schedule">
        <% if @training.training_sessions.present? %>

        <div class="schedule-day-one">
          <h4>Today</h4>
          <%= link_to training_session_path(@training.training_sessions.first)  do %>
          <%=render "components/schedule-button", session: @training.training_sessions.first%>
          <%end%>
        </div>
        <div class="schedule-day-two">
          <h4>Tomorrow</h4>
          <%= link_to training_session_path(@training.training_sessions.last)  do %>
           <%=render "components/schedule-button", session: @training.training_sessions.last%>
           <%end%>
        </div>

        <% else %>
          <%= link_to "schedule first session", new_training_training_session_path(@training), class:"btn btn-primary" %>

        <% end %>

      </div>
    </div>

    </div>
    <div>
      <%= render "reviews/list", reviews: @reviews %>
    </div>
  </div>







