<div class="container container-new">
  <div class="row">
    <div class="col-6">

      <h1>Bookings#show</h1>
      <p>Find me in app/views/bookings/show.html.erb</p>

      <% if @booking.user == @user  %>
        <h3> <%= @training.name %> </h3>
        <h3> <%= @training_session.time %> </h3>
        <h3> <%= @training_session.location %> </h3>
        <h3> <%= @booking.status %> </h3>
        <button type="button" class="btn btn-warning">
          <%= link_to "cancel", booking_path(@booking), method: :delete, data: { confirm: "Are you sure?" } %>
        </button>

      <% else %>
        <h3> you have no access to this data </h3>
      <% end %>

    </div>
  </div>
  <div><%= render "reviews/form",  booking: @booking, review: @review %></div>
</div>
