<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-sm-offset-4">

        <div class="form-training">
          <h2>Create new session</h2>
            <%= simple_form_for(@trainingsession, url:  training_training_sessions_path(@training.id)) do |f|%>
            <%= f.error_notification %>
            <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

        <div class="form-inputs">
          <%= f.input :location %>
          <%= f.input :capacity %>
          <%= f.input :time, as: :datetime, html5: true %>
          <%= f.input :frequency, as: :radio_buttons, collection: TrainingSession.frequencies.keys, wrapper: :vertical_collection_inline %>
        </div>

        <div class="form-actions">
          <%= link_to 'Back', training_training_sessions_path(@training), class: "btn" %>
          <%= f.button :submit, class: "btn btn-primary" %>
        </div>
       <% end %>
      </div>
    </div>
    <div class="d-none d-md-block col-sm-4 col-md-6 col-lg-6">
      <div class="image-wrapper">
        <h2>
          be awake!
        </h2>
          
          <%= image_tag "sport_man.jpeg", class: "image-card" %>

          

      </div>
    </div>
  </div>
</div>
