<%= simple_form_for(@trainingsession) do |f|%>
<%= f.error_notification %>
<%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

<div class="form-inputs">
  <%= f.input :location %>
  <%= f.input :capacity %>
  <%= f.input :time, as: :datetime, html5: true, start_year: Date.today.year, end_year: Date.today.year + 2 %>
</div>

<div class="form-actions">
  <%= link_to 'Back', training_session_path(@trainingsession), class: "btn" %>
  <%= f.button :submit, class: "btn btn-primary" %>
</div>
<% end %>
