<h1>TrainingSessions#new</h1>
<p>Find me in app/views/training_sessions/new.html.erb</p>
<div class="container container-new">
  <div class="row">
    <div class="col-6">
      <h1>create new session</h1>
      <%= simple_form_for([@training, @session], url: training_sessions_path, method: :post) do |f|%>
      <%= f.input :time %>
      <%= f.input :capacity %>
      <%= f.input :location %>
      <div class="text-right">
        <%= f.submit class: "btn btn-primary" %></div>
      <!-- <textarea class="form-control animated" cols="50" id="new-review" name="comment" placeholder="Enter your review here..." rows="5"></textarea> -->
      <% end %>
    </div>
  </div>
</div>
