<div class="container container-new">
  <div class="row">
    <div class="col-6">

      <h1>TrainingSessions#show</h1>
      <p>Find me in app/views/training_sessions/show.html.erb</p>

      <h3><%= @training.name %></h3>
      <h5><%= @trainingsession.time %></h5>
      <h5><%= @trainingsession.location %></h5>
      <h5><%= @trainingsession.capacity %></h5>


      <button type="button" class="btn btn-success">
        <%= link_to "book", training_session_bookings_path(@trainingsession), method: :post %>
      </button>


    </div>
  </div>
  <div><%= render "reviews/list", reviews: @trainingsession.training.reviews %></div>
</div>


