<div class="container container-new">
  <div class="row">
    <div class="col-6">

      <h3><%= @training.name %></h3>
      <h5><%= @trainingsession.time.strftime("%A, %b %d %k:%M") %></h5>
      <h5><%= @trainingsession.location %></h5>
      <h5>Price: <%= humanized_money_with_symbol(@trainingsession.price) %></h5>
      <h5><%= @trainingsession.capacity %> people </h5>


      <button type="button" class="btn btn-success">
        <%= link_to "book", training_session_bookings_path(@trainingsession), method: :post %>
      </button>


    </div>
  </div>
  <div><%= render "reviews/list", reviews: @trainingsession.training.reviews %></div>
</div>


