<div class="container container-new">
  <div class="row">
    <div class="col-6">

      <h3><%= @training.name %></h3>
      <h5><%= @trainingsession.time.strftime("%A, %b %d %k:%M") %></h5>
      <h5><%= @trainingsession.location %></h5>
      <h5><%= @trainingsession.capacity %> people </h5>


      <% if @training.user == current_user && @trainingsession.bookings.exists? %>
        <h3> Attendees </h3>

        
        <div class="row">
          <div class="col-md-6">
            <div class="tab-content">
              <div id="upcoming" class="tab-pane fade in active show">
                <div class="cards-grid">
                  <% @trainingsession.bookings.each do |booking| %>
                    <%=render "components/attendee-card", booking: booking %>
                    <% end %>
                </div>
              </div>      
            </div>
          </div>
        </div>



      <% else %>  
        <button type="button" class="btn btn-success">
          <%= link_to "book", training_session_bookings_path(@trainingsession), method: :post %>
        </button>
      <% end %>  

    </div>
  </div>
  <!-- <div> -->
    <%#= render "reviews/list", reviews: @trainingsession.training.reviews %>  
  <!-- </div> -->
</div>


