<div class="container container-new">
  <div class="row">
    <div class="col-6">

      <h3><%= @training.name %></h3>
      <h5><%= @trainingsession.time.strftime("%A, %b %d %k:%M") %></h5>
      <h5><%= @trainingsession.location %></h5>
      <h5>Price: <%= humanized_money_with_symbol(@trainingsession.price) %></h5>
      <h5><%= @trainingsession.capacity %> people </h5>


      <% if @training.user == current_user && @trainingsession.bookings.exists? %>

       <button type="button" class="btn btn-success">
          <%= link_to "Cancel Session", training_session_path(@trainingsession), method: :delete %>
        </button>

        <h3> Attendees </h3>

        <div class="row">
          <div class="col-md-6">
            <div class="tab-content">
              <div id="upcoming" class="tab-pane fade in active show">
                <div class="cards-grid">
                  <% @trainingsession.bookings.each do |booking| %>
                    <%=render "components/attendee-card", booking: booking %>
                    <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>

      <% elsif @training.user == current_user %>
        <button type="button" class="btn btn-success">
          <%= link_to "Cancel Session", training_session_path(@trainingsession), method: :delete %>
        </button>

      <% else %>
        <%= form_tag orders_path do %>
        <%= hidden_field_tag 'training_session_id', @trainingsession.id %>
        <%= submit_tag 'Complete my Booking', class: 'btn btn-primary' %>
        <% end %>
      <% end %>


    </div>
  </div>
  <!-- <div> -->
    <%#= render "reviews/list", reviews: @trainingsession.training.reviews %>
  <!-- </div> -->
</div>


