<div class="search-card">
  <div class="search-card-image">
    <!-- <img src="https://images.unsplash.com/photo-1597347366210-e874cb3be303?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80" alt=""> -->
    <%= cl_image_tag trainer.photos.first.key %>
  </div>
  <div class="search-card-infos">
    <div class="search-card-infos-titles">
      <row><h2><%=trainer.name%></h2><h3> &ensp; <%=trainer.age%>, <%=trainer.gender%></h3></row><br>
      <row><i class="fas fa-map-marker"></i><h6>&ensp;Trains at&nbsp;</h6>
        <% locations = [] %>
        <% trainer.training_sessions.each do |session| %>
        <% locations << session.location %>
        <% locations.uniq!%>
        <%end%>
        <% locations.each_with_index do |location, i| %>
        <% if i == locations.length - 1 %>
          <h6> <%=location%> &nbsp;</h6>
        <% else %>
          <h6> <%=location%>, &nbsp;</h6>
        <%end%>
        <%end%>
         </row>
    </div>
    <div class="search-card-infos-long">
      <p><%=trainer.bio%></p>
    </div>
  </div>
  <div class="search-card-stats">
      <div class="sessions"> <%=trainer.training_sessions.count%> Sessions held</div>
      <!-- <div class="stars"> <%= trainer.reviews.empty? ? "no reviews" : "#{trainer.reviews.sum(:stars) / trainer.reviews.size} stars" %>  </div> -->

      <div class="stars">
        <% if trainer.reviews.exists? %>
          <% 5.times do |num|%>
            <i class="fa<%= trainer.reviews.sum(:stars) / trainer.reviews.size < (num + 1) ? "r" : "s" %> fa-star text-warning"></i>
          <% end %>
        <% else %>
          <% 5.times do |num|%>
            <i class="fa<%= trainer.reviews.sum(:stars) / 1 < (num + 1) ? "r" : "s" %> fa-star text-warning"></i>
          <% end %>
        <% end %>
      </div>

  </div>
</div>

