<!-- <h1>Trainers#show</h1>
<%= @trainer %>
<%#= @trainings %>
<%= @trainer.name %>
<%= @trainer.gender %>
<%= @trainer.bio %>
<%= @trainer.rating %>

<ul>
  <% @trainings.each do |training| %>
  <li> <%= training.name %>
  <%= link_to training.name, training_path(training) %></li>
<% end %></ul>
 -->

<div class="profile-column">
  <div class="trainer-profile">

    <div class="profile-image">
          <!-- <img src="https://images.unsplash.com/photo-1597347366210-e874cb3be303?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80" alt=""> -->

          <%= cl_image_tag @trainer.photos.first.key, height: 300, width: 400, crop: :fill %>

    </div>
        <div class="profile-headline">
          <div>
        <div>
        <div class="trainer-name">
       <%=@trainer.name %></div> <%=@trainer.gender%>, <%=@trainer.age%>
      </div>
      </div>
      <div>
        <%=@trainer.rating%> 5 stars
      </div>
    </div>
    <div class="profile-schedule">
      <div class="schedule-day-one">
        <h4>Today</h4>
        <%=render "components/schedule-button", session: @trainer.training_sessions.first%>
      </div>
      <div class="schedule-day-two">
        <h4>Tomorrow</h4>
         <%=render "components/schedule-button", session: @trainer.training_sessions.last%>
      </div>
    </div>
    <div class="profile-classes">
      <h4>My Classes:</h4>
      <ul>
        <% @trainings.each do |training| %>
        <li>
        <%= link_to training_path(training) do %>
          <% render "components/trainer-trainings-card", training: training %>
        <%end%>
        </li>
        <% end %>
      </ul>

    </div>
    <div class="profile-info">
      <%=@trainer.name%> has taught <%=@trainer.training_sessions.count%> classes.
      <%=@trainer.bio%>
    </div>
    <div class="profile-reviews">
        <%=@trainer.rating%>
        <div><%= render "reviews/list", reviews: @reviews %></div>
    </div>
    <%= link_to "create new training", new_trainer_training_path(@trainer) %>
  </div>
</div>

<div><%= render "training_sessions/map",  markers: @markers %></div>

