

<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <div class="data-card white">
       <% if @trainer == current_user  %>
       <h2> Welcome <%= @trainer.name %> </h2>
       <%= link_to "Edit training", edit_trainer_path(@trainer), class:"btn btn-primary" %>
       <%= link_to "Create new training", new_trainer_training_path(@trainer), class:"btn btn-primary" %>
       <%=@trainer.name%> has taught <%=@trainer.training_sessions.count%> classes.
       <%=@trainer.bio%>
       <%=@trainer.rating%>
       <% else %>
       <h2> <%= @trainer.name %> </h2>
       <%=@trainer.name%> has taught <%=@trainer.training_sessions.count%> classes.
       <%=@trainer.bio%>
       <%=@trainer.rating%>
       <% end %>
     </div>
   </div>
   <div class="col-md-6 col-sm-12">
    <div class="data-card blue">
      <%= cl_image_tag @trainer.photos.first.key, height: 300, width: 400, crop: :fill %>
    </div>
  </div>
  <div class="col-md-9 col-sm-12">
    <div class="data-card blue">
      <% if @trainer.trainings.present? %>
      <% @trainer.training_sessions.each do |training_session| %>
      <%=render "components/schedule", training_session: training_session%>
      <%end%>
      <% else %>
      <h1>No schedule available</h1>
      <% end %>
    </div>
  </div>
  <div class="col-md-3 col-sm-12">
    <div class="data-card white">
      <ul>
        <li><%=@trainer.name %></li>
        <li><%=@trainer.gender%></li>
        <li><%=@trainer.age%></li>
      </ul>
      <%=@trainer.rating%> 5 stars
    </div>
  </div>
  <!-- <div class="col-md-3 col-sm-12">
    <div class="data-card white">

   </div>
 </div> -->
 <div class="col-md-12 col-sm-12">
  <div class="data-card blue">
    <h4>My Classes:</h4>
    <% @trainings.each do |training| %>
    <%= link_to training_path(training) do %>
    <%= render "components/trainer-trainings-card", training: training %>
    <% end %>
    <% end %>
  </div>
</div>

<div class="col-md-6 col-sm-12">
  <div class="data-card white">
    <%= render "reviews/list", reviews: @reviews %>
  </div>
</div>

<div class="col-md-6 col-sm-12">
  <div class="data-card blue">
    <%= render "training_sessions/map",  markers: @markers %>
  </div>
</div>

</div>
</div>













